@use "../../styles/variables" as *;

.topbar {
  height: 68px;
  background-color: var(--bg-card);
  border-bottom: 1px solid var(--border-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  .topbar-left {
    display: flex;
    align-items: center;

    .breadcrumb {
      display: flex;
      align-items: center;
      gap: 12px;

      .breadcrumb-btn {
        background: none;
        border: none;
        color: var(--text-secondary);
        cursor: pointer;
        padding: 6px;
        border-radius: 6px;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--bg-hover);
          color: var(--text-primary);
        }
      }

      .breadcrumb-text {
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 500;
        margin: 0 8px;
      }

      .breadcrumb-current {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .topbar-right {
    display: flex;
    align-items: center;

    .search-container {
      position: relative;
      display: flex;
      align-items: center;

      .search-icon {
        position: absolute;
        left: 12px;
        color: var(--text-tertiary);
        z-index: 1;
      }

      .search-input {
        width: 160px;
        height: 28px;
        padding: 0 16px 0 36px;
        border: 1px solid var(--border-light);
        border-radius: 8px;
        background-color: var(--bg-card);
        color: var(--text-primary);
        font-size: 14px;
        transition: all 0.2s ease;

        &:focus {
          outline: none;
          border-color: var(--accent-primary);
          box-shadow: 0 0 0 3px #{color(ring-primary-10)};
        }

        &::placeholder {
          color: var(--text-tertiary);
        }
      }
    }
     .icons-container {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 16px;
       margin-left: 16px;

       .icon-btn {
         background: none;
         border: none;
         color: var(--text-secondary);
         cursor: pointer;
        //  padding: 8px;
         border-radius: 6px;
         transition: all 0.2s ease;
         display: flex;
         align-items: center;
         justify-content: center;

         &:hover {
           background-color: var(--bg-hover);
           color: var(--text-primary);
         }
       }
     }
  }
}
