@use '../../styles/variables' as *;

.projections-chart {
  height: 100%;
  display: flex;
  flex-direction: column;

  .chart-header {
    display: flex;
    flex-direction: column;
    margin-bottom: space(6);

    .chart-title {
      font-size: font-size(xl);
      font-weight: font-weight(bold);
      color: color(text-primary);
      margin: 0;
    }

    .chart-amount {
      font-size: font-size(sm);
      color: color(text-tertiary);
    }
  }

  .chart-container {
    flex: 1;
    min-height: 200px;
  }
}
