@use './styles/variables' as *;

.app {
  display: flex;
  height: 100vh;
  background-color: color(bg-secondary);
  overflow: hidden;

  .main-section {
    flex-grow: 1;
    transition: width 0.3s ease;
  }
  
  &.no-right-bar {
    .main-section {
      width: 100%;
    }
  }
}
